.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4%;
}

form{
  max-width: 17em;
}

h4{
  margin-bottom: 1em;
}

.data h5{
  margin-top: 2em;
}

input{
  margin-top: 1em;
}

#delete{
  border-top: solid 2px #980202;
  padding-top: 0.5em;
}

.invalid-firstName{
  margin-left: 5px;
  white-space: nowrap;
  color: red;

}

.invalid-lastName{
  margin-left: 5px;
  white-space: nowrap;
  color: red;

}

.invalid-date{
  margin-left: 5px;
  white-space: nowrap;
  color: red;
}

.invalid-pwd{
  margin-left: 5px;
  white-space: nowrap;
  color: red;
}

.invalid-lenght{
  margin-left: 5px;
  white-space: nowrap;
  color: red;
  position: relative;

}

.unmatched-pwd{
  margin-left: 5px;
  white-space: nowrap;
  color: red;

}

.success{
  font-weight: bold;
  white-space: nowrap;
  color: #1e731e;
}

img{
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 40px #969490;
  width: 17em;
  height: 13em;
}

img:hover{
    transform: scale(1.04);
    transition: 0.3s ease-in-out;
}
.shortcut{
  margin-bottom: 2em;
}

.shortcut-managment{
  margin-top: 2em;
}

//for mobile
@media(max-width:767px){

  .container{
    display: flex;
    flex-direction: column;
  }

  .shortcuts{
    margin-top: 15%;
  }
}
