<div class="container col-8">

  <div class="data">

  <h4>Vos données</h4>
  <input class="form-control" type="text"  [(ngModel)]="currentUser.FirstName">
  <input class="form-control" type="text"  [(ngModel)]="currentUser.LastName">
  <input class="form-control" type="text"  [(ngModel)]="currentUser.BirthDate ">
  <div *ngIf="invalidDate" class="invalid-date">La date doit être au format : dd-mm-yyyy</div>
  <input  class="form-control" type="text"  [(ngModel)]="currentUser.Email" disabled>

  <h5>Changer le mot de passe</h5>
  <form (ngSubmit)="onChangePassword(f)" #f=ngForm>
    <input class="form-control" type="password" placeholder="Ancien mot de passe" id="password" name="password" ngModel>
    <div *ngIf="invalidPwd" class="invalid-pwd">Le mot de passe n'est pas valide !</div>

    <input class="form-control" type="password" placeholder="Nouveau mot de passe" id="newPassword" name="newPassword" ngModel>
    <div *ngIf="invalidLenght" class="invalid-lenght">Le mot de passe doit avoir minimum 7 caractères !</div>
    <input class="form-control" type="password" placeholder="Confirmer le mot de passe" id="confirmPassword" name="confirmPassword" ngModel>
    <div *ngIf="unmatchedPwd" class="unmatched-pwd">Les deux mots de passe ne correspondent pas !</div>
    <button class="btn btn-success mb-4">Changer de mot de passe</button>
    <div *ngIf="success" class="success">Le mot de passe à bien été changé !</div>
  </form>

  <div id="delete"><button  class="btn btn-danger" (click)="onRemoveUser()">Supprimer le compte</button></div>
  </div>

  <div class="shortcuts">

    <div class="shortcut-managment">
      <div class="image">
        <a routerLink="/managment"><img src="assets/images/managment.png" alt="Manage Your Money"></a>
      </div>
      <button class="btn btn-outline-dark mt-3" routerLink="/managment">Vers la gestion</button>
    </div>

    <div class="shortcut-historic">
      <div class="image">
        <a routerLink="/historic"><img src="assets/images/historic.png" alt="Manage Your Money"></a>
      </div>
      <button class="btn btn-outline-dark mt-3" routerLink="/historic">Vers l'historique</button>
    </div>

  </div>
</div>
