<div class="container col-6">
<h4>Liste des utilisateurs</h4>
      <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Prénom</th>
          <th scope="col">Nom</th>
          <th scope="col">Inscription</th>
          <th scope="col"></th>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.registration |date}}</td>
            <td><button class="btn btn-danger">Bloquer</button></td>
          </tr>
        </tbody>
      </table>
</div>
