    <!-- NavBar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Manage Your Money</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

          <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="/managment" >Accueil<span class="sr-only">(current)</span></a>
          </div>

          <div *ngIf="currentUser != null" class="user-content">
            <div  id="welcome">Bienvenue<strong>{{currentUser.FirstName}}</strong></div>
            <div *ngIf="currentUser != null && currentUser.Role == 0" class="espace"><a routerLink="/user-space">Votre espace</a></div>
            <div *ngIf="currentUser != null && currentUser.Role == 1" class="espace"><a routerLink="/admin-space">Espace administrateur</a></div>
          </div>

          <div>
            <app-login></app-login>
          </div>

        </div>
      </nav>
    <!-- End Navbar -->
