<body>
    <app-nav></app-nav>

    <!-- Main Content -->
      <div class="container-fluid col-10 mt-4">
        <nav>
            <div class="nav nav-tabs" role="tablist">
              <a class="nav-item nav-link" routerLinkActive="active" data-toggle="tab" routerLink="/managment" role="tab" aria-controls="nav-home" aria-selected="false">Gestion</a>
              <a class="nav-item nav-link" routerLinkActive="active" data-toggle="tab" routerLink="/historic" role="tab" aria-controls="nav-profile" aria-selected="true">Historique</a>

            </div>
        </nav>

        <router-outlet></router-outlet>
      </div>
    <!-- End Main Content -->


    <!-- Footer -->
      <footer>
        <p>© {{date}} Copyright: Emile Cyimena</p>
      </footer>
    <!-- End Footer -->
</body>
