
strong{
  color: #104710;
}

.total{
  margin-top: 2em;
  border-top: green 3px solid;
}

.difference{
  font-size: 1.1em;
  position: absolute;
  left: 24em;
  top: 4em;
}

.difference-positif strong{
  color: #183408;
}

.difference-negatif strong{
  color: #620c0c;
}
