<!-- Container-->
  <div class="graph_and_button" style="min-height: 310px ; max-height: 310px">

    <!-- Card -->
        <div class="card text-white bg-success" style="width: 100%">
          <!-- Banner card-->
          <div class="banner card-header">


             <div class="title">
            <div>Revenus</div>
            <a *ngIf="activated" routerLink=""
               placement="right"
               ngbTooltip="Revenus par catégorie"
               [openDelay]="500"
               (click)="onActivated()">
              <span class="fas fa-chart-pie"></span></a>


            <a *ngIf="!activated" routerLink=""
               placement="right"
               ngbTooltip="Revenus par mois"
               [openDelay]="500"
               (click)="onActivated()">
              <span class="fas fa-chart-line"></span></a>
          </div>


          </div>
          <!-- End banner card-->

          <!-- Body Card -->


          <div class="info">
                <div class="date">{{actualDate |date: 'MMMM yyyy'}} : </div>

                <div >
                  <strong  *ngIf="this.totalthismonth != null"  >{{totalthismonth}} €</strong>
                  <strong *ngIf="this.totalthismonth == null"  >0 €</strong>
                </div>
          </div>

          <div class="average">Moyenne (mois) :
            <div>
              <strong  *ngIf="this.average != null" class="number" >{{average}} € </strong>
              <strong  *ngIf="this.average == null" class="number" >0 € </strong>
            </div>

          </div>


            <div [ngClass]="{'card-body': !activated,
                             'card-body mt-0': activated}">
              <div  id="graph">
                <!-- Body linear chart -->
                    <div><canvas id="incomes_graph" width="690" height="180px" ></canvas></div>
                <!-- End body linear chart -->

                <!-- Body doughnut chart -->
                    <app-categorie-income *ngIf="!activated"></app-categorie-income>
                <!-- End body doughnut chart -->
              </div>
            </div>
          <!-- End Body card -->
        </div>
    <!-- End card -->

  </div>
<!-- End container -->

<!-- Footer card -->
          <div class="card-footer bg-success">

            <p class="footer" id="total">TOTAL : <strong *ngIf="total != null">{{total}} €</strong>  <strong *ngIf="total == null">0 €</strong></p>

          </div>
          <!-- End footer card -->


<!-- Main Form  -->
  <form id="main_form" (ngSubmit)="onAddIncome(f)" #f="ngForm">
     <div class="input-group">
       <div class="input-group-prepend">
         <div class="input-group-text">€</div>
       </div>
       <input class="form-control input_main" type="text" placeholder="Montant" id="amount" name="amount" ngModel required>
     </div>

   <!-- Category -->
     <select class="form-control category" name="category" ngModel required>
       <option value="" disabled selected hidden>Catégorie</option>
       <option style="background-color: rgb(89,169,255); color: aliceblue" (click)="onAddCategory()">Nouveau</option>
       <option *ngFor="let cat of categories" >{{cat}}</option>
     </select>
   <!-- End category -->

   <!-- Date  -->
     <input class="form-control input_main" type="Date" id="date" name="date"  ngModel="{{actualDate | date:'yyyy-MM-dd'}}">
     <button *ngIf="currentUser !== null" class="btn btn-primary" type="submit" [disabled]="f.invalid">Ajouter</button>

    <button *ngIf="currentUser == null" class="btn btn-outline-secondary"
        disabled
        placement="right"
        ngbTooltip="Vous devez vous connecter pour ajouter un revenu"
        routerLink="">Ajouter</button>

  </form>
<!-- End main form -->


<!-- add new category formulaire -->
    <form class="newCat" *ngIf="newCategory" (ngSubmit)="onSaveCategory(g)" #g="ngForm" >
      <div  class="input-group mb-2 mr-sm-2">
          <input class="form-control" name="category" type="text" placeholder="Catégorie" ngModel required>
          <div class="input-group-prepend">
            <button class="btn btn-success" type="submit" [disabled]="g.invalid">+</button>
          </div>
        <button class="btn btn-danger ml-2 btn-sm" (click)="onAddCategory()">Terminer</button>
      </div>
    </form>
<!-- End add new category -->

<div *ngIf="invalid" class="invalid-amount">Montant incorrect !</div>
