

<div class="graph_and_button">
    <!-- Income graph -->
        <div class="card text-white bg-success mb-3">
          <div class="card-header">Revenus</div>
          <div class="card-body">
            <div id="graph">
                <canvas id="incomes_graph" width="670" height="200px" ></canvas>
            </div>
          </div>
        </div>
    <!-- End graph -->
  <div><button class="btn btn-primary ml-2" title="Dépenses par catégorie"><span class="fas fa-chart-pie"></span></button></div>
</div>


<!-- Main Form  -->
  <form id="main_form" (ngSubmit)="onAddIncome(f)" #f="ngForm">
     <div class="input-group">
       <div class="input-group-prepend">
         <div class="input-group-text">€</div>
       </div>
       <input class="form-control input_main" type="text" placeholder="Montant" id="amount" name="amount" ngModel required>
     </div>

   <!-- Category -->
     <select id="categories" class="form-control" name="categorie" ngModel required>
       <option value="" disabled selected hidden>Catégorie</option>
       <option style="background-color: rgb(89,169,255); color: aliceblue" (click)="onAddCategorie()">Nouveau</option>
       <option *ngFor="let cat of categories" >{{cat}}</option>
     </select>
   <!-- End category -->

   <!-- Date  -->
     <input class="form-control input_main" type="Date" id="date" name="date"  ngModel="{{actualDate | date:'yyyy-MM-dd'}}">
     <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Ajouter</button>
   <!-- End date  -->
  </form>
<!-- End main form -->


<!-- add new category formulaire -->
    <form id="newCat" *ngIf="newCategorie" (ngSubmit)="onSaveCategorie(g)" #g="ngForm" >
      <div  class="input-group mb-2 mr-sm-2">
          <input class="form-control" name="categorie" type="text" placeholder="Catégorie" ngModel required>
          <div class="input-group-prepend">
            <button class="btn btn-success" type="submit" [disabled]="g.invalid">+</button>
          </div>
        <button class="btn btn-danger ml-2 btn-sm" (click)="onAddCategorie()">Terminer</button>
      </div>
    </form>
<!-- End add new category -->


<!-- Analysis -->
    <div class="card border-success mb-3 mt-4" >
      <div class="card-header">période du </div>
      <div class="card-body text-success">
        <h2>AJouter un bouton détail dans lequel on mettra les anticipations , taux de croissance et plein d'autres choses(solde, dépense, revenu)</h2>
        <h3>fleche pour basculer le graph en dépense par categorie ou revenu par categorie mettre une icone graph ou tarte en fonction d'ou on est</h3>
        <h2>Période du  au  ...  </h2>
        <p>utiliser un Subject</p>
        <p class="card-text">Mettre un header rouge ou vert en cas de bon resultat . FUsionner les deux analyses ? Vos revenus ont baissé de x % par rapport au mois passé</p>
            <p>Revenu moyen :  <strong>{{averageByMonth | currency:'EUR'}}</strong> par mois | <strong>{{incomesByDay | currency:'EUR'}} </strong>par jour</p>
            <p>ce mois ci vous etes à {{incomesThisMonth | currency}} euros</p>
            <p *ngIf="averageDiff < 0">la moyenne a été dépassé de {{absAverageDiff | currency:'EUR'}} euros</p>
            <p *ngIf="averageDiff > 0">félicitation vous etes en dessous de la moyenne. Dépensez au maximum xxx euros pour rester en dessous de la moyenne</p>
          <p>total des dépenses : {{totalIncomes | currency:'EUR'}} </p>
      </div>
    </div>
<!-- End analysis -->

  <app-categorie-income></app-categorie-income>
