/* You can add global styles to this file, and also import other style files */
 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');

body{
  font-family: 'Oswald', sans-serif;
}

.graph_and_button{
  margin-bottom: -10px;
  display: flex;
}

#main_form{
  margin-top: 15px;
  display: flex;
}

.input_main, select{
  margin-right: 15px;
}

.title{
  display: flex;
  justify-content: space-between;
  color: #e3dada;
}

.card-footer{
  margin-top: 20px;
  color: white;
  border-radius: 3px;
  margin-bottom: 10px;
  padding-bottom: 3px;
}

.footer{
  color: white;
}


.info, .average{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35%;
  margin-left: 20px;
}



//categorie

.category{
  margin-right: 10px}

.newCat{
  margin-top: 10px;
  margin-left: 27%;
  width: 300px;
}

.banner_subtitle{
  position: relative;
  right: 10px;
  bottom: 5px;
  width: 898px;
  background-color: rgb(43,43,43,0.9);
  color: white;
  padding: 2px 0 2px 10px;
}

.icon{
  font-size: 20px;
  color: white;
  transition: 0.3s ease-in-out;
}

.icon:hover{
  color: #3030a0;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.invalid-amount{
  margin-left: 2.3em;
  font-size: 1.05em;
  color: red;
}

.add{
  margin-left: -0.5em;
  margin-right: 1em;
}

.icon-add{
  color: white;
}

.date{
  text-transform: capitalize;
}

.graph_and_button{
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
}

.total p {
  font-size: 1.5em;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.total strong{
  margin-left: 0.5em;
}

.title div{
  font-size: 1.3em;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
