/* You can add global styles to this file, and also import other style files */
 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');


body{
  font-family: 'Oswald', sans-serif;
}

.graph_and_button{
  margin-bottom: -10px;
  display: flex;
}

.title{
  display: flex;
  justify-content: space-between;
  color: #e3dada;
}


.info, .average{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35%;
  margin-left: 20px;
}




.date{
  text-transform: capitalize;
}

.graph_and_button{
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
}

.total p {
  font-size: 1.5em;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.total strong{
  margin-left: 0.5em;
}

.title div{
  font-size: 1.3em;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';



//for mobile
@media(max-width:767px){

  .container-mobile{
    margin: 0;
    padding: 0;
  }

  .info{
    width: 70%;
    border: solid;
    display: flex;
    flex-direction: row;
  }

  .average{
    width: 70%;
    border: solid;
  }

  .canvas{
    height: 500px;
    border: 2px yellow solid;
  }

  .graph_and_button{
    padding-right: -150px;
  }

  form .form-category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .input_main{
    margin-right: 0;
  }

  .add{
    margin-right: 0;
  }


}

