<!-- Container-->
  <div class="graph_and_button" style="min-height: 310px ; max-height: 310px">

    <!-- Card -->
        <div class="card text-white bg-danger" style="width: 100%">
          <!-- Banner card-->
          <div class="banner card-header">

            <div class="title">
              <div >Dépenses</div>
              <a *ngIf="activated" routerLink=""
                 placement="right"
                 ngbTooltip="Dépenses par catégorie"
                 [openDelay]="500"
                 (click)="onActivated()">
                <span class="icon fas fa-chart-pie"></span></a>
              <a *ngIf="!activated" routerLink=""
                 placement="right"
                 ngbTooltip="Dépenses par mois"
                 [openDelay]="500"
                 (click)="onActivated()">
                <span class="icon fas fa-chart-line"></span></a>
            </div>
          </div>
          <!-- End banner card-->

            <div class="infos">

              <!-- Body Card -->
              <div class="info">
                <div class="date">{{actualDate |date: 'MMMM yyyy'}} : </div>
                <div >
                  <strong  *ngIf="this.totalthismonth != null"  >{{totalthismonth}} €</strong>
                  <strong *ngIf="this.totalthismonth == null"  >0 €</strong>
                </div>
              </div>
              <div class="difference">
                <div *ngIf="difference > 0" class="difference-negatif"><strong>{{difference}} % </strong> par rapport à {{lastDate}}</div>
                <div *ngIf="difference < 0" class="difference-positif"><strong>{{difference}} % </strong> par rapport à {{lastDate}}</div>
              </div>


              <div class="average">Moyenne (mois) :
                <div>
                  <strong  *ngIf="this.average != null" class="number" >{{average}} € </strong>
                  <strong  *ngIf="this.average == null" class="number" >0 € </strong>
                </div>
              </div>
            </div>



            <div [ngClass]="{'card-body': !activated,
                             'card-body mt-0': activated}">
              <div  id="graph" >
                <!-- Body linear chart -->
                    <div><canvas id="expenses_graph" width="690" height="180px" ></canvas></div>
                <!-- End body linear chart -->

                <!-- Body doughnut chart -->
                    <app-categorie-expense *ngIf="!activated"></app-categorie-expense>
                <!-- End body doughnut chart -->
              </div>
            </div>
          <!-- End Body card -->
        </div>
    <!-- End card -->

  </div>
<!-- End container -->

<!-- Footer card -->
          <div class="total">
            <p>TOTAL : <strong *ngIf="total != null">{{total}} €</strong>  <strong *ngIf="total == null">0 €</strong></p>
          </div>
          <!-- End footer card -->


<!-- Expense main encoding form -->
    <form id="main_form" (ngSubmit)="onAddExpense(f)" #f="ngForm">
        <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">€</div>
                  </div>
                  <input class="form-control input_main" type="text" placeholder="Montant" id="amount-expense" name="amount" ngModel required>
      </div>

      <!-- Categories -->
      <select *ngIf="!newCategory" id="categories" class="form-control category" name="category" ngModel required>
                  <option value="" disabled selected hidden>Catégorie</option>
                  <option *ngFor="let cat of categories" >{{cat}}</option>
                </select>
      <button *ngIf="!newCategory && currentUser != null" class="add btn btn-success btn-sm" (click)="onAddCategory()"><span class="icon-add fas fa-plus"></span></button>
      <!-- End categories -->
      <!-- New category -->
      <input *ngIf="newCategory" class="category form-control input_main" type="text" placeholder="Entrez la catégorie" name="newCat" [(ngModel)]="categoryName" required>
      <button *ngIf="newCategory && currentUser != null" class="add btn btn-success btn-sm" (click)="onAddCategory()"><span class="icon-add fas fa-check"></span></button>
<!-- End category -->


      <!-- Encoding date -->
          <input class="form-control input_main" type="Date" id="date" name="date"  ngModel="{{actualDate | date:'yyyy-MM-dd'}}">
          <button *ngIf="currentUser !== null" class="btn btn-primary" type="submit" [disabled]="f.invalid">Ajouter</button>

      <span *ngIf="currentUser == null" placement="bottom"
        ngbTooltip="Vous devez vous connecter pour ajouter une dépense"><button  class="btn btn-outline-secondary"
        disabled
        routerLink="">Ajouter</button></span>
    </form>
<!-- End main form -->



<div *ngIf="invalid" class="invalid-amount">Montant incorrect !</div>




