.graph_and_button{
  margin-bottom: -10px;
  display: flex;
}

#main_form{
  margin-top: 15px;
  display: flex;
}

.input_main, select{
  margin-right: 15px;
}

.title{
  display: flex;
  justify-content: space-between;
  color: #e3dada;
}

.card-footer{
  margin-top: 20px;
  color: white;
  border-radius: 3px;
  margin-bottom: 10px;
  padding-bottom: 3px;
}


.footer{
  color: white;
}


#total {
  border-top: solid white 0.1px;
  padding-top: 3px;
}


