<div class="container  mt-5">

  <form *ngIf="!registred" class="col-5 offset-4" (ngSubmit)="onRegistration(f)" #f=ngForm>
  <h2>Inscription</h2>
  <div class="form-group">
    <label for="firstName">Prénom</label>
    <input type="text" class="form-control" id="firstName" name="firstName" ngModel>
  </div>

  <div class="form-group">
    <label for="lastName">Nom</label>
    <input type="text" class="form-control" id="lastName" name="lastName" ngModel>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" ngModel>
  </div>

  <div class="form-group">
    <label for="password">Mot de passe</label>
    <input type="password" class="form-control" id="password" name="password" ngModel>
  </div>


  <button type="submit" class="btn btn-success">Enregistrer</button>
</form>

  <div *ngIf="registred" class="offset-4">
    <h2>Votre inscription est un succès !</h2>
    <p>Connectez-vous en haut à gauche et bonne gestion !</p>

  </div>


</div>


